@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/RalewayRomanBold.ttf");
  font-family: "Raleway";
  font-weight: 700;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/RalewayRomanMedium.ttf");
  font-family: "Raleway";
  font-weight: 500;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/RalewayRomanRegular.ttf");
  font-family: "Raleway";
  font-weight: 400;
}
